/*
    @author: Kamal Sharif

    @createdAt: 30.3.2017
    @lastModified: 30.3.2017
    @modifiedBy: Kamal Sharif

    @fileName: Input.css
    @filePath: ./src/stylesheet/common/Theme/Input.css
*/

.bar::before, .bar::after {
    background-color: #9c27b0;
}

.inputElement:focus:not([disabled]):not([readonly]) ~ .label:not(.fixed) {
    font-size: 14px;
    color: #9c27b0;
}