/*
    @author: Kamal Sharif

    @createdAt: 30.3.2017
    @lastModified: 30.3.2017
    @modifiedBy: Kamal Sharif

    @fileName: TooltipButton.css
    @filePath: ./src/stylesheet/common/Theme/TooltipButton.css
*/

.neutral:not([disabled]).floating {
    color: #fff;
    background-color: #9c27b0;
}

.floating {
    height: 48px;
    width: 48px;
}

.floating .icon:not([data-react-toolbox='tooltip']) {
    line-height: 48px;
}
