/*
    @author: Kamal Sharif

    @createdAt: 30.3.2017
    @lastModified: 30.3.2017
    @modifiedBy: Kamal Sharif

    @moduleName: members
    @modulePath: ./src/modules/members
    @fileName: Create.css
    @filePath: ./src/modules/members/components/css/Create.css
*/

.header-wrapper {
    margin-bottom: 35px;
}