/*
    @author: Kamal Sharif

    @createdAt: 30.3.2017
    @lastModified: 30.3.2017
    @modifiedBy: Kamal Sharif

    @moduleName: members
    @modulePath: ./src/modules/members
    @fileName: Create.css
    @filePath: ./src/modules/members/components/css/Create.css
*/

.header-wrapper {
    composes: mb35 from '../../../../stylesheet/utils/spacing.css';
}

.required-notif {
    color: #666;
}