/*
    @author: Kamal Sharif

    @createdAt: 17.3.2017
    @lastModified: 30.3.2017
    @modifiedBy: Kamal Sharif

    @moduleName: members
    @modulePath: ./src/modules/members
    @fileName: List.css
    @filePath: ./src/modules/members/components/css/List.css
*/

.header-wrapper, .searchbox-wrapper {
    composes: mb35 from '../../../../stylesheet/utils/spacing.css';
}

.searchbox-wrapper, .footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.totalentry {
    flex: 1;
}

.searchbox-wrapper {
    justify-content: flex-end;
}

.table-wrapper {
    margin-bottom: 25px;
}

.totalentry {
    color: #666;
}

.totalentry::before {
    display: inline-block;
    margin-right: 5px;
    content: '**';
}