/*
    @author: Kamal Sharif

    @createdAt: 19.3.2017
    @lastModified: 19.3.2017
    @modifiedBy: Kamal Sharif

    @moduleName: members
    @modulePath: ./src/modules/members
    @fileName: Menu.css
    @filePath: ./src/modules/members/components/css/Theme/Menu.css
*/

.caption {
    font-size: 14px;
}