/*
    @author: Kamal Sharif

    @createdAt: 12.3.2017
    @lastModified: 14.3.2017
    @modifiedBy: Kamal Sharif

    @moduleName: Core
    @modulePath: ./src/modules/core
    @fileName: Layout.css
    @filePath: ./src/modules/core/components/layout/css/Layout.css
*/

.wrapper {
    width: auto;
}

.pagewrapper {
    margin-left: 150px;
}