/*
    @author: Kamal Sharif

    @createdAt: 12.3.2017
    @lastModified: 2.4.2017
    @modifiedBy: Kamal Sharif

    @moduleName: Core
    @modulePath: ./src/modules/core
    @fileName: Layout.css
    @filePath: ./src/modules/core/components/layout/css/Layout.css
*/

.wrapper {
    width: auto;
}

.pagewrapper {
    position: relative;
    margin-left: 150px;
}

.content-wrapper {
    padding: 75px 15px 15px 25px;
}