/*
    @author: Kamal Sharif

    @createdAt: 14.3.2017
    @lastModified: 14.3.2017
    @modifiedBy: Kamal Sharif

    @moduleName: Core
    @modulePath: ./src/modules/core
    @fileName: UserSettings.css
    @filePath: ./src/modules/core/components/layout/css/UserSettings.css
*/

.nav-userdropdown {
    position: relative;
    top: -4px;
    cursor: pointer;
}

.username {
    display: inline-block;
    vertical-align: top;
}

.icon {
    position: relative;
    top: 4px;
    height: 23px;
    width: 35px;
    display: inline-block;
    vertical-align: top;
}

.caret {
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: -15px;
    z-index: 150;
    min-width: 100px;
    padding: 8px 0;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transform: scale(0);
    transform-origin: 100% 0;
}


.dropdown-show {
    animation: dropdownShow 0.2s cubic-bezier(.4,0,.2,1) 0.1s forwards;
}

@keyframes dropdownShow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.arrow::before, .arrow::after {
    position: absolute;
    left: 76%;
    bottom: 100%;
    height: 0;
    width: 0;
    border: solid transparent;
    pointer-events: none;
    content: " ";
}

.arrow::before {
    border-color: rgba(194,225,245,0);
    border-bottom-color: #f0f0f0;
    border-width: 12px;
    margin-left: -12px;
}
.arrow::after {
    border-color: rgba(136,183,213,0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.dropdown-menu {
    padding: 0 15px;
    display: block;
}
