/*
    @author: Kamal Sharif

    @createdAt: 30.3.2017
    @lastModified: 30.3.2017
    @modifiedBy: Kamal Sharif

    @fileName: Header.css
    @filePath: ./src/stylesheet/common/Header.css
*/

$color-heading: #666;
$color-subheading: #9c27b0;
$color-slash: #b3b3b3;

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.heading {
    flex: 1;
}

.heading {
    font-size: 30px;
    color: $color-heading;
}

.slash {
    color: $color-slash;
}

.subheading {
    font-size: 24px;
    color: $color-subheading;
    opacity: 0.8;
}