/*
    @author: Kamal Sharif

    @createdAt: 8.4.2017
    @lastModified: 8.4.2017
    @modifiedBy: Kamal Sharif

    @fileName: Searchbox.css
    @filePath: ./src/stylesheet/common/Searchbox.css
*/

.searchbox {
    position: relative;
    width: 250px;
}

.searchicon {
    position: absolute;
    right: 5px;
    top: 8px;
    z-index: 110;
    height: 20px;
    width: 20px;
}

.searchinput {
    height: 35px;
    width: 208px;
    padding: 0 30px 0 10px;
    color: #333;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    transition: border-color 0.3s ease-in 0.1s, box-shadow 0.3s linear 0.1s;
}

.searchinput:hover {
    border-color: #ececec;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .08);
}

.searchsvg {
    fill: #b3b3b3;
}